fastapi
uvicorn[standard]
gunicorn
pydantic
python-multipart
transformers
tokenizers
torch==2.2.0
google-generativeai
sqlalchemy
requests
feedparser

--extra-index-url https://download.pytorch.org/whl/cpu
