fastapi
uvicorn[standard]
gunicorn
pydantic
python-multipart
numpy<2
transformers==4.36.2
tokenizers==0.15.2
torch==2.1.0
google-generativeai
sqlalchemy
requests
feedparser

--extra-index-url https://download.pytorch.org/whl/cpu
